version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directories:
      - "/"
      - "integration-test"
    schedule:
      interval: "daily"
